<!DOCTYPE html>
<html>
<head>
    <title>HIstory</title>
</head>
<body>
<table>
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'h.id') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'First In', 'h.firstIn') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'Second In', 'h.secondIn') }}</th>
    </tr>
    {% for item in pagination %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.firstIn }}</td>
        <td>{{ item.secondIn }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>